@charset "utf-8";
@import '_svg.scss';
@import 'default.css';
@import 'font.css';

img{max-width: 100%;}
/*checkbox*/
input.chkTypeA{
  opacity: 0; width:1px; height:1px; position:absolute;
  & + label{
    display:inline-block; position:relative; padding-left:28px; color:#111; font:{size:14px;} min-height:22px; vertical-align: top;
    &:after{content:''; position:absolute; left:0; top:50%; width:24px; height:24px; margin-top:-10px; border:1px solid #ddd; background:#fff ico_check1('ddd') no-repeat 50% / 10px 7px; transition:all 0.5s cubic-bezier(0, 0, 0, 1.0) 0s; box-sizing:border-box;}
  }
  &:checked + label{
    &:after{border-color:#28324e; background:#28324e ico_check1('fff') no-repeat 50% / 10px 7px;}
  }
  &[disabled="disabled"],&[disabled]{
    & + label{
      &:after{content:''; position:absolute; left:0; top:50%; width:24px; height:24px; margin-top:-10px; border:1px solid #ddd; background:#eee;}
    }
  }
}

/*radio*/
input.radioTypeA{
  opacity: 0; width:1px; height:1px;
  & + label{
    display:inline-block; position:relative; padding-left:24px; color:#111; font-size:16px;
    &:after{content:''; position:absolute; left:0; top:50%; width:16px; height:16px; border-radius:50%; margin-top:-8px; border:5px solid #ccc; background:#fff; transition:all 0.5s cubic-bezier(0, 0, 0, 1.0) 0s; box-sizing:border-box;}
  }
  &:checked + label{
    &:after{border-color:#28324E; }
  }
}