@import '_svg.scss';
@import 'common.scss';
@import 'default.css';
@import 'font.css';

/* checkAll.jsp */
#checkAllBody{
  padding:0 20px;
  .termsTxt{font-size: 20px; font-weight: 700; margin-bottom: 10px;}
  .termList{
    width: 400px; border:1px solid #3c3c3c; padding:30px;
    li{
      display: flex; margin-bottom: 10px; justify-content: space-between;
      &:last-child{margin-botom:0;}
    }
  }

}